In [37]:
#!conda install -c anaconda xlrd --yes

In [38]:
import pandas as pd
from datetime import date

In [39]:
#df = pd.read_excel('Data csv\Octavio.Elliot@ibm.com_20200518_140814_86_inv1.xlsx')
df = pd.read_csv(r'Data csv\Octavio.Elliot@ibm.com_20200518_143814_95_inv1.csv')
df.head()

,Invoice number,Invoice date,Invoice client reference 1,Invoice client reference 2,Late payment fee invoice number,Subtotal,Currency,Payment type,Total amount due,Currency.1,...,Contract serial number,Machine type,Model,Description.1,Equipment type,Contract item number,Status,Sub-status,End of Lease Date,Cost center
0,Q5886GH,5/1/2020,NaN,PO20736,NaN,-32.85,USD,Early Termination/Early Termination of Lease o...,-35.15,USD,...,6GQG7H2,DELN,4MI,"CORE I7 2.7GHZ 6TH GEN 16GB NOTEBOOK 15"" - 17""",Notebooks,2.0,Inactive,ETRM-EARLYTERM,4/30/2020,NaN
1,Q5886GH,5/1/2020,NaN,PO77876,NaN,-19.46,USD,Early Termination/Early Termination of Lease o...,-21.19,USD,...,382QFH2,DELN,4KA,"CORE I5 2.4GHZ 6TH GEN 8GB NOTEBOOK 11"" - 14""",Notebooks,2.0,Inactive,ETRM-EARLYTERM,4/30/2020,NaN
2,Q5886GH,5/1/2020,NaN,PO12092,NaN,-18.52,USD,Early Termination/Early Termination of Lease o...,-19.72,USD,...,3F0S8H2,DELN,4KA,"CORE I5 2.4GHZ 6TH GEN 8GB NOTEBOOK 11"" - 14""",Notebooks,2.0,Inactive,ETRM-EARLYTERM,4/30/2020,NaN
3,Q5886GH,5/1/2020,NaN,DO3802580,NaN,-11.69,USD,Early Termination/Early Termination of Lease o...,-12.39,USD,...,GKR6382,DELD,2TB,CORE I5 3.3GHZ 4TH GEN 4GB DESKTOP 01,Desktops,4.0,Inactive,ETRM-EARLYTERM,4/30/2020,NaN
4,Q5886GH,5/1/2020,NaN,DO3780676,NaN,-11.69,USD,Early Termination/Early Termination of Lease o...,-12.51,USD,...,GM1B382,DELD,2TB,CORE I5 3.3GHZ 4TH GEN 4GB DESKTOP 01,Desktops,5.0,Inactive,ETRM-EARLYTERM,3/31/2020,NaN

In [40]:
PC_ONLY = df[['Invoice number','Machine type','Equipment type','Sub-status', 'Payment type','Description','Invoice client reference 1','Invoice date','Total amount due','End of Lease Date']]

In [41]:
INVOICE_LIST_REMOVED = ['Q6230GE']
items = len(INVOICE_LIST_REMOVED)

In [42]:
for i in range(items):
       print (PC_ONLY[PC_ONLY['Invoice number'] == INVOICE_LIST_REMOVED[i]].head(1))

Empty DataFrame
Columns: [Invoice number, Machine type, Equipment type, Sub-status, Payment type, Description, Invoice client reference 1, Invoice date, Total amount due, End of Lease Date]
Index: []

In [43]:
rows = PC_ONLY['Invoice number'].count()

In [44]:
PC_ONLY['Invoice number 2'] = PC_ONLY['Invoice number']
PC_ONLY['BILL TYPE'] = 'TBD'
PC_ONLY['To be removed'] = ''

C:\Users\OctavioLuisElliotFre\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\OctavioLuisElliotFre\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\OctavioLuisElliotFre\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [45]:
PC_ONLY.head()

,Invoice number,Machine type,Equipment type,Sub-status,Payment type,Description,Invoice client reference 1,Invoice date,Total amount due,End of Lease Date,Invoice number 2,BILL TYPE,To be removed
0,Q5886GH,DELN,Notebooks,ETRM-EARLYTERM,Early Termination/Early Termination of Lease o...,Early Termination/Early Termination of Lease o...,NaN,5/1/2020,-35.15,4/30/2020,Q5886GH,TBD,
1,Q5886GH,DELN,Notebooks,ETRM-EARLYTERM,Early Termination/Early Termination of Lease o...,Early Termination/Early Termination of Lease o...,NaN,5/1/2020,-21.19,4/30/2020,Q5886GH,TBD,
2,Q5886GH,DELN,Notebooks,ETRM-EARLYTERM,Early Termination/Early Termination of Lease o...,Early Termination/Early Termination of Lease o...,NaN,5/1/2020,-19.72,4/30/2020,Q5886GH,TBD,
3,Q5886GH,DELD,Desktops,ETRM-EARLYTERM,Early Termination/Early Termination of Lease o...,Early Termination/Early Termination of Lease o...,NaN,5/1/2020,-12.39,4/30/2020,Q5886GH,TBD,
4,Q5886GH,DELD,Desktops,ETRM-EARLYTERM,Early Termination/Early Termination of Lease o...,Early Termination/Early Termination of Lease o...,NaN,5/1/2020,-12.51,3/31/2020,Q5886GH,TBD,

FORMATACAO DOS DADOS

In [46]:
for i in range(rows):
    PC_ONLY.at[i,'Invoice number 2'] = PC_ONLY.at[i,'Invoice number'][:2]
    PC_ONLY.at[i,'Invoice number'] = PC_ONLY.at[i,'Invoice number'][:7]

In [47]:
PC_ONLY["Total amount due"] = pd.to_numeric(PC_ONLY["Total amount due"], downcast="float")
PC_ONLY['Total amount due'] = PC_ONLY['Total amount due'].apply (lambda x: round(x,2))

C:\Users\OctavioLuisElliotFre\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\OctavioLuisElliotFre\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [48]:
PC_ONLY["Invoice client reference 1"]= PC_ONLY["Invoice client reference 1"].astype(str)

C:\Users\OctavioLuisElliotFre\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [49]:
for i in range(rows):
    PC_ONLY.at[i,'Invoice client reference 1'] = PC_ONLY.at[i,'Invoice client reference 1'][:2]

In [50]:
# creating the filters taht will be used

FILTER_LPF = (PC_ONLY['Payment type']=='Late Payment Fee')
FILTER_DAMAGE = (PC_ONLY["Invoice number 2"] == "QC")
FILTER_RECYLCLYNG_FEE = (PC_ONLY['Payment type'] == 'STATE RECYCLING FEE (FOR BATCH JOBS)')
FILTER_CMOS = (PC_ONLY['Equipment type'] == 'Storage')
FILTER_STORAGE = (PC_ONLY['Equipment type']=='CMOS Processors')


FILTER_PRODUCT_SET = (PC_ONLY['Equipment type'] == 'PC Product Set')
FILTER_IBM_MAINT = (PC_ONLY['Description'] == 'IBM PREPAID MAINTENANCE')

FILTER_XOT9_EMPTY = (PC_ONLY['Machine type'] == "XOT9") # &  pd.isnull(df['Equipment type'])

FILTER_PPT = (PC_ONLY['Payment type'] == 'PPT Recovery: Full Year') # & (PC_ONLY['BILL TYPE'] == '')
FILTER_BUY = (PC_ONLY['Sub-status'] == 'BUY-BUYOUT') # & (PC_ONLY['BILL TYPE'] == '')

FILTER_CONC = (PC_ONLY['Sub-status'] == 'CONC-CONCLUDE') # & (PC_ONLY['BILL TYPE'] == '')
FILTER_CONT = (PC_ONLY['Sub-status'] == 'CONT-CONTINUATION') # & (PC_ONLY['BILL TYPE'] == '')



FILTER_EPUR = (PC_ONLY['Sub-status'] == 'EPUR-PURCHASE')  # & (PC_ONLY['BILL TYPE'] == '')

FILTER_SS_ETRM = (PC_ONLY['Sub-status'] =='ETRM-EARLYTERM') | (PC_ONLY['Payment type'] == 'Early Termination/Early Termination of Lease of Lease')


FILTER_REGULAR_PERIODIC = (PC_ONLY['Payment type'] == 'Regular Periodic Invoice-Payment in Advance') # & (PC_ONLY['BILL TYPE'] == '')

FILTER_NLOA_NLEASE = (PC_ONLY['Sub-status'] == 'NLOA-NEW LOAN') | (PC_ONLY['Sub-status'] == 'NLSE-NEW LEASE') # & (PC_ONLY['BILL TYPE'] == '')

FILTER_ONE_OFF = (PC_ONLY['Invoice client reference 1']=='OL') | (PC_ONLY['Invoice client reference 1']=='OI')

# Notacao para filtro duplo
DOUBLE FILTER = PC_ONLY[(PC_ONLY["Equipment type"] == "PC Product Set") & (PC_ONLY["Payment type"] == "PPT Recovery: Full Year")]
PC_ONLY[(FILTER_PRODUCT_SET) & (FILTER_PPT)]

PC_ONLY.loc[(FILTER_CONT) & (FILTER_BT_EMPTY),'BILL TYPE'] = "s"

In [51]:
PC_ONLY[FILTER_ONE_OFF].head()

,Invoice number,Machine type,Equipment type,Sub-status,Payment type,Description,Invoice client reference 1,Invoice date,Total amount due,End of Lease Date,Invoice number 2,BILL TYPE,To be removed
96048,Q7026GH,3952,Storage,NLSE-NEW LEASE,Regular Periodic Invoice-Payment in Arrears,Regular Periodic Invoice-Payment in Arrears,OL,5/1/2020,324.84,8/31/2022,Q7,TBD,
96049,Q7026GH,3952,Storage,NLSE-NEW LEASE,Regular Periodic Invoice-Payment in Arrears,Regular Periodic Invoice-Payment in Arrears,OL,5/1/2020,324.84,8/31/2022,Q7,TBD,
96050,Q7026GH,3952,Storage,NLSE-NEW LEASE,Regular Periodic Invoice-Payment in Arrears,Regular Periodic Invoice-Payment in Arrears,OL,5/1/2020,129.02,8/31/2022,Q7,TBD,
96051,Q7026GH,3952,Storage,NLSE-NEW LEASE,Regular Periodic Invoice-Payment in Arrears,Regular Periodic Invoice-Payment in Arrears,OL,5/1/2020,129.02,8/31/2022,Q7,TBD,
96052,Q7026GH,3956,Storage,NLSE-NEW LEASE,Regular Periodic Invoice-Payment in Arrears,Regular Periodic Invoice-Payment in Arrears,OL,5/1/2020,523.17,8/31/2022,Q7,TBD,

In [52]:
LPF = PC_ONLY[FILTER_LPF]

In [53]:
PC_ONLY[PC_ONLY['Invoice number']=='Q6591GF']

Empty DataFrame
Columns: [Invoice number, Machine type, Equipment type, Sub-status, Payment type, Description, Invoice client reference 1, Invoice date, Total amount due, End of Lease Date, Invoice number 2, BILL TYPE, To be removed]
Index: []

In [54]:
NON_PC = PC_ONLY[FILTER_DAMAGE]

In [55]:
PC_ONLY.loc[FILTER_LPF, 'To be removed'] = 'NaN'

C:\Users\OctavioLuisElliotFre\anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [56]:
PC_ONLY.loc[FILTER_DAMAGE, 'To be removed'] = 'NaN'

In [57]:
PC_ONLY.loc[FILTER_ONE_OFF, 'To be removed'] = 'NaN'

In [58]:
PC_ONLY.loc[(FILTER_RECYLCLYNG_FEE) & (PC_ONLY['BILL TYPE'] == 'TBD'),'BILL TYPE']= 'Recycle'

In [59]:
PC_ONLY.loc[FILTER_CMOS,'To be removed'] = 'NaN'

In [60]:
PC_ONLY.loc[FILTER_STORAGE,'To be removed'] = 'NaN'

In [61]:
PC_ONLY.loc[FILTER_IBM_MAINT,'To be removed'] = 'NaN'

In [62]:
for invoice in INVOICE_LIST_REMOVED:
    NON_PC = NON_PC.append(PC_ONLY[PC_ONLY['Invoice number'] == invoice])
    PC_ONLY.loc[PC_ONLY['Invoice number'] == invoice,'To be removed'] = 'NaN'

In [63]:
PC_ONLY = PC_ONLY[PC_ONLY['To be removed']!= 'NaN']

In [64]:
INVOICE_LIST_REMOVED

['Q6230GE']

In [65]:
NON_PC = NON_PC.append(PC_ONLY[FILTER_ONE_OFF])

C:\Users\OctavioLuisElliotFre\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [66]:
NON_PC = NON_PC.append(PC_ONLY[FILTER_CMOS])

C:\Users\OctavioLuisElliotFre\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [67]:
NON_PC = NON_PC.append(PC_ONLY[FILTER_STORAGE])

C:\Users\OctavioLuisElliotFre\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [68]:
NON_PC = NON_PC.append(PC_ONLY[FILTER_IBM_MAINT])

C:\Users\OctavioLuisElliotFre\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [69]:
PC_ONLY = PC_ONLY.dropna()

In [70]:
PC_ONLY.loc[FILTER_PRODUCT_SET,'Equipment type'] = 'MISCELLANEOUS FINANCING'

In [71]:
#  Update empty cells on [AC] TO MISCELLANEOUS FINANCING if XOT9 OEM

PC_ONLY.loc[(FILTER_XOT9_EMPTY) & (PC_ONLY['BILL TYPE'] == 'TBD'), 'Equipment type'] = 'MISCELLANEOUS FINANCING'

In [72]:
PC_ONLY.loc[(FILTER_PPT) & (PC_ONLY['BILL TYPE'] == 'TBD'),'BILL TYPE'] = 'TAXES'

In [73]:
PC_ONLY.loc[(FILTER_BUY) & (PC_ONLY['BILL TYPE'] == 'TBD'),'BILL TYPE'] = 'BUY'

In [74]:
PC_ONLY.loc[(FILTER_CONC) & (PC_ONLY['BILL TYPE'] == 'TBD'),'BILL TYPE'] = 'REGULAR RENT'
PC_ONLY.loc[(FILTER_CONT) & (PC_ONLY['BILL TYPE'] == 'TBD'),'BILL TYPE'] = 'REGULAR RENT'
PC_ONLY.loc[(FILTER_EPUR) & (PC_ONLY['BILL TYPE'] == 'TBD'),'BILL TYPE'] = 'REGULAR RENT'

In [75]:
PC_ONLY.loc[(FILTER_SS_ETRM) & (PC_ONLY['BILL TYPE'] == 'TBD'),'BILL TYPE'] = 'ETERM'

In [76]:
PC_ONLY.loc[(FILTER_REGULAR_PERIODIC) & (PC_ONLY['BILL TYPE'] == 'TBD'),'BILL TYPE'] = 'REGULAR RENT'

In [77]:
PC_ONLY.loc[(FILTER_NLOA_NLEASE) & (PC_ONLY['BILL TYPE'] == 'TBD'),'BILL TYPE'] = 'REGULAR RENT'

In [78]:
PC_ONLY[(FILTER_SS_ETRM)&(PC_ONLY['BILL TYPE'] == 'TBD')]

C:\Users\OctavioLuisElliotFre\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

Empty DataFrame
Columns: [Invoice number, Machine type, Equipment type, Sub-status, Payment type, Description, Invoice client reference 1, Invoice date, Total amount due, End of Lease Date, Invoice number 2, BILL TYPE, To be removed]
Index: []

CRINDO EXCEL XLSX FILE

In [79]:
#today = str(date.today())

In [80]:
file_name = 'PC_ONLY_Pivot.xlsx'

In [81]:
#PC_ONLY.to_csv(r'PC_ONLY_'+ today +'.csv')
PC_ONLY.to_excel(file_name,index = False)

In [82]:

PC_ONLY

,Invoice number,Machine type,Equipment type,Sub-status,Payment type,Description,Invoice client reference 1,Invoice date,Total amount due,End of Lease Date,Invoice number 2,BILL TYPE,To be removed
0,Q5886GH,DELN,Notebooks,ETRM-EARLYTERM,Early Termination/Early Termination of Lease o...,Early Termination/Early Termination of Lease o...,na,5/1/2020,-35.15,4/30/2020,Q5,ETERM,
1,Q5886GH,DELN,Notebooks,ETRM-EARLYTERM,Early Termination/Early Termination of Lease o...,Early Termination/Early Termination of Lease o...,na,5/1/2020,-21.19,4/30/2020,Q5,ETERM,
2,Q5886GH,DELN,Notebooks,ETRM-EARLYTERM,Early Termination/Early Termination of Lease o...,Early Termination/Early Termination of Lease o...,na,5/1/2020,-19.72,4/30/2020,Q5,ETERM,
3,Q5886GH,DELD,Desktops,ETRM-EARLYTERM,Early Termination/Early Termination of Lease o...,Early Termination/Early Termination of Lease o...,na,5/1/2020,-12.39,4/30/2020,Q5,ETERM,
4,Q5886GH,DELD,Desktops,ETRM-EARLYTERM,Early Termination/Early Termination of Lease o...,Early Termination/Early Termination of Lease o...,na,5/1/2020,-12.51,3/31/2020,Q5,ETERM,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96739,QP6365U,ZLND,Desktops,NLSE-NEW LEASE,PPT Recovery: Full Year,PPT Recovery: Full Year,na,5/1/2020,8.32,9/30/2021,QP,TAXES,
96740,QP6365U,ZLND,Desktops,NLSE-NEW LEASE,PPT Recovery: Full Year,PPT Recovery: Full Year,na,5/1/2020,8.32,9/30/2021,QP,TAXES,
96741,QP6365U,ZLND,Desktops,NLSE-NEW LEASE,PPT Recovery: Full Year,PPT Recovery: Full Year,na,5/1/2020,7.58,8/31/2021,QP,TAXES,
96742,QP6375U,DELN,Notebooks,NLSE-NEW LEASE,PPT Recovery: Full Year,PPT Recovery: Full Year,na,5/1/2020,17.69,9/30/2021,QP,TAXES,
96743,QP6385U,DELD,Desktops,CONC-CONCLUDE,PPT Recovery: Full Year,PPT Recovery: Full Year,TR,5/1/2020,3.42,5/10/2019,QP,TAXES,