In [1]:
#!conda install -c anaconda xlrd --yes

In [2]:
import pandas as pd
from datetime import date

In [3]:
df = pd.read_excel('PNC_BANK_20200511_140520_62_inv1.xlsx')
#df = pd.read_csv('teste.csv')
df.head()

,Invoice number,Invoice date,Invoice client reference 1,Payment type,Total amount due,Currency,Machine type,Description,Equipment type,Sub-status
0,Q5886GH,2020-01-05,NaN,Early Termination/Early Termination of Lease o...,-17.77,USD,ZLND,CORE I5 2.9GHZ 4TH GEN 4GB DESKTOP,Desktops,ETRM-EARLYTERM
1,Q5886GH,2020-01-05,NaN,Early Termination/Early Termination of Lease o...,-15.49,USD,ZLND,CORE I5 2.9GHZ 4TH GEN 4GB DESKTOP,Desktops,ETRM-EARLYTERM
2,Q5886GH,2020-01-05,NaN,Early Termination/Early Termination of Lease o...,-13.41,USD,ZLND,CORE I5 2.9GHZ 4TH GEN 4GB DESKTOP,Desktops,ETRM-EARLYTERM
3,Q5886GH,2020-01-05,NaN,Early Termination/Early Termination of Lease o...,-12.54,USD,ZLND,CORE I5 2.9GHZ 4TH GEN 4GB DESKTOP,Desktops,ETRM-EARLYTERM
4,Q5886GH,2020-01-05,NaN,Early Termination/Early Termination of Lease o...,-12.51,USD,DELD,CORE I5 3.3GHZ 4TH GEN 4GB DESKTOP 01,Desktops,ETRM-EARLYTERM

In [4]:
df.head()

,Invoice number,Invoice date,Invoice client reference 1,Payment type,Total amount due,Currency,Machine type,Description,Equipment type,Sub-status
0,Q5886GH,2020-01-05,NaN,Early Termination/Early Termination of Lease o...,-17.77,USD,ZLND,CORE I5 2.9GHZ 4TH GEN 4GB DESKTOP,Desktops,ETRM-EARLYTERM
1,Q5886GH,2020-01-05,NaN,Early Termination/Early Termination of Lease o...,-15.49,USD,ZLND,CORE I5 2.9GHZ 4TH GEN 4GB DESKTOP,Desktops,ETRM-EARLYTERM
2,Q5886GH,2020-01-05,NaN,Early Termination/Early Termination of Lease o...,-13.41,USD,ZLND,CORE I5 2.9GHZ 4TH GEN 4GB DESKTOP,Desktops,ETRM-EARLYTERM
3,Q5886GH,2020-01-05,NaN,Early Termination/Early Termination of Lease o...,-12.54,USD,ZLND,CORE I5 2.9GHZ 4TH GEN 4GB DESKTOP,Desktops,ETRM-EARLYTERM
4,Q5886GH,2020-01-05,NaN,Early Termination/Early Termination of Lease o...,-12.51,USD,DELD,CORE I5 3.3GHZ 4TH GEN 4GB DESKTOP 01,Desktops,ETRM-EARLYTERM

In [5]:
PC_ONLY = df[['Invoice number','Machine type','Equipment type','Sub-status', 'Payment type','Description','Invoice client reference 1','Invoice date','Total amount due']]

In [6]:
INVOICE_LIST_REMOVED = ['Q6230GE']
items = len(INVOICE_LIST_REMOVED)

In [7]:
for i in range(items):
       print (PC_ONLY[PC_ONLY['Invoice number'] == INVOICE_LIST_REMOVED[i]].head(1))

Empty DataFrame
Columns: [Invoice number, Machine type, Equipment type, Sub-status, Payment type, Description, Invoice client reference 1, Invoice date, Total amount due]
Index: []

In [8]:
rows = PC_ONLY['Invoice number'].count()

In [9]:
PC_ONLY['Invoice number 2'] = PC_ONLY['Invoice number']
PC_ONLY['BILL TYPE'] = 'TBD'
PC_ONLY['To be removed'] = ''

In [10]:
PC_ONLY.head()

,Invoice number,Machine type,Equipment type,Sub-status,Payment type,Description,Invoice client reference 1,Invoice date,Total amount due,Invoice number 2,BILL TYPE,To be removed
0,Q5886GH,ZLND,Desktops,ETRM-EARLYTERM,Early Termination/Early Termination of Lease o...,CORE I5 2.9GHZ 4TH GEN 4GB DESKTOP,NaN,2020-01-05,-17.77,Q5886GH,TBD,
1,Q5886GH,ZLND,Desktops,ETRM-EARLYTERM,Early Termination/Early Termination of Lease o...,CORE I5 2.9GHZ 4TH GEN 4GB DESKTOP,NaN,2020-01-05,-15.49,Q5886GH,TBD,
2,Q5886GH,ZLND,Desktops,ETRM-EARLYTERM,Early Termination/Early Termination of Lease o...,CORE I5 2.9GHZ 4TH GEN 4GB DESKTOP,NaN,2020-01-05,-13.41,Q5886GH,TBD,
3,Q5886GH,ZLND,Desktops,ETRM-EARLYTERM,Early Termination/Early Termination of Lease o...,CORE I5 2.9GHZ 4TH GEN 4GB DESKTOP,NaN,2020-01-05,-12.54,Q5886GH,TBD,
4,Q5886GH,DELD,Desktops,ETRM-EARLYTERM,Early Termination/Early Termination of Lease o...,CORE I5 3.3GHZ 4TH GEN 4GB DESKTOP 01,NaN,2020-01-05,-12.51,Q5886GH,TBD,

FORMATACAO DOS DADOS

In [11]:
for i in range(rows):
    PC_ONLY.at[i,'Invoice number 2'] = PC_ONLY.at[i,'Invoice number'][:2]
    PC_ONLY.at[i,'Invoice number'] = PC_ONLY.at[i,'Invoice number'][:7]

In [12]:
PC_ONLY["Total amount due"] = pd.to_numeric(PC_ONLY["Total amount due"], downcast="float")
PC_ONLY['Total amount due'] = PC_ONLY['Total amount due'].apply (lambda x: round(x,2))

In [13]:
PC_ONLY["Invoice client reference 1"]= PC_ONLY["Invoice client reference 1"].astype(str)

In [14]:
for i in range(rows):
    PC_ONLY.at[i,'Invoice client reference 1'] = PC_ONLY.at[i,'Invoice client reference 1'][:2]

In [15]:
# creating the filters taht will be used

FILTER_LPF = (PC_ONLY['Payment type']=='Late Payment Fee')
FILTER_DAMAGE = (PC_ONLY["Invoice number 2"] == "QC")
FILTER_RECYLCLYNG_FEE = (PC_ONLY['Payment type'] == 'STATE RECYCLING FEE (FOR BATCH JOBS)')
FILTER_CMOS = (PC_ONLY['Equipment type'] == 'Storage')
FILTER_STORAGE = (PC_ONLY['Equipment type']=='CMOS Processors')


FILTER_PRODUCT_SET = (PC_ONLY['Equipment type'] == 'PC Product Set')
FILTER_IBM_MAINT = (PC_ONLY['Description'] == 'IBM PREPAID MAINTENANCE')

FILTER_XOT9_EMPTY = (PC_ONLY['Machine type'] == "XOT9") # &  pd.isnull(df['Equipment type'])

FILTER_PPT = (PC_ONLY['Payment type'] == 'PPT Recovery: Full Year') # & (PC_ONLY['BILL TYPE'] == '')
FILTER_BUY = (PC_ONLY['Sub-status'] == 'BUY-BUYOUT') # & (PC_ONLY['BILL TYPE'] == '')

FILTER_CONC = (PC_ONLY['Sub-status'] == 'CONC-CONCLUDE') # & (PC_ONLY['BILL TYPE'] == '')
FILTER_CONT = (PC_ONLY['Sub-status'] == 'CONT-CONTINUATION') # & (PC_ONLY['BILL TYPE'] == '')



FILTER_EPUR = (PC_ONLY['Sub-status'] == 'EPUR-PURCHASE')  # & (PC_ONLY['BILL TYPE'] == '')

FILTER_SS_ETRM = (PC_ONLY['Sub-status'] =='ETRM-EARLYTERM') | (PC_ONLY['Payment type'] == 'Early Termination/Early Termination of Lease of Lease')


FILTER_REGULAR_PERIODIC = (PC_ONLY['Payment type'] == 'Regular Periodic Invoice-Payment in Advance') # & (PC_ONLY['BILL TYPE'] == '')

FILTER_NLOA_NLEASE = (PC_ONLY['Sub-status'] == 'NLOA-NEW LOAN') | (PC_ONLY['Sub-status'] == 'NLSE-NEW LEASE') # & (PC_ONLY['BILL TYPE'] == '')

FILTER_ONE_OFF = (PC_ONLY['Invoice client reference 1']=='OL') | (PC_ONLY['Invoice client reference 1']=='OI')

# Notacao para filtro duplo
DOUBLE FILTER = PC_ONLY[(PC_ONLY["Equipment type"] == "PC Product Set") & (PC_ONLY["Payment type"] == "PPT Recovery: Full Year")]
PC_ONLY[(FILTER_PRODUCT_SET) & (FILTER_PPT)]

PC_ONLY.loc[(FILTER_CONT) & (FILTER_BT_EMPTY),'BILL TYPE'] = "s"

In [16]:
PC_ONLY[FILTER_ONE_OFF].head()

,Invoice number,Machine type,Equipment type,Sub-status,Payment type,Description,Invoice client reference 1,Invoice date,Total amount due,Invoice number 2,BILL TYPE,To be removed
96048,Q7026GH,9OT9,MISCELLANEOUS FINANCING,NLOA-NEW LOAN,Regular Periodic Invoice-Payment in Arrears,OTHER FINANCING,OL,2020-01-05,22.9,Q7,TBD,
96049,Q7026GH,9OT9,MISCELLANEOUS FINANCING,NLOA-NEW LOAN,Regular Periodic Invoice-Payment in Arrears,OTHER FINANCING,OL,2020-01-05,22.9,Q7,TBD,
96050,Q7026GH,9OT9,MISCELLANEOUS FINANCING,NLOA-NEW LOAN,Regular Periodic Invoice-Payment in Arrears,OTHER FINANCING,OL,2020-01-05,22.9,Q7,TBD,
96051,Q7026GH,9OT9,MISCELLANEOUS FINANCING,NLOA-NEW LOAN,Regular Periodic Invoice-Payment in Arrears,OTHER FINANCING,OL,2020-01-05,22.9,Q7,TBD,
96052,Q7026GH,9OT9,MISCELLANEOUS FINANCING,NLOA-NEW LOAN,Regular Periodic Invoice-Payment in Arrears,OTHER FINANCING,OL,2020-01-05,22.9,Q7,TBD,

In [17]:
LPF = PC_ONLY[FILTER_LPF]

In [18]:
PC_ONLY[PC_ONLY['Invoice number']=='Q6591GF']

Empty DataFrame
Columns: [Invoice number, Machine type, Equipment type, Sub-status, Payment type, Description, Invoice client reference 1, Invoice date, Total amount due, Invoice number 2, BILL TYPE, To be removed]
Index: []

In [19]:
NON_PC = PC_ONLY[FILTER_DAMAGE]

In [20]:
PC_ONLY.loc[FILTER_LPF, 'To be removed'] = 'NaN'

In [21]:
PC_ONLY.loc[FILTER_DAMAGE, 'To be removed'] = 'NaN'

In [22]:
PC_ONLY.loc[FILTER_ONE_OFF, 'To be removed'] = 'NaN'

In [23]:
PC_ONLY.loc[(FILTER_RECYLCLYNG_FEE) & (PC_ONLY['BILL TYPE'] == 'TBD'),'BILL TYPE']= 'Recycle'

In [24]:
PC_ONLY.loc[FILTER_CMOS,'To be removed'] = 'NaN'

In [25]:
PC_ONLY.loc[FILTER_STORAGE,'To be removed'] = 'NaN'

In [26]:
PC_ONLY.loc[FILTER_IBM_MAINT,'To be removed'] = 'NaN'

In [27]:
for invoice in INVOICE_LIST_REMOVED:
    NON_PC = NON_PC.append(PC_ONLY[PC_ONLY['Invoice number'] == invoice])
    PC_ONLY.loc[PC_ONLY['Invoice number'] == invoice,'To be removed'] = 'NaN'

In [28]:
PC_ONLY = PC_ONLY[PC_ONLY['To be removed']!= 'NaN']

In [29]:
INVOICE_LIST_REMOVED

['Q6230GE']

In [30]:
NON_PC = NON_PC.append(PC_ONLY[FILTER_ONE_OFF])

C:\Users\Pichau\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [31]:
NON_PC = NON_PC.append(PC_ONLY[FILTER_CMOS])

C:\Users\Pichau\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [32]:
NON_PC = NON_PC.append(PC_ONLY[FILTER_STORAGE])

C:\Users\Pichau\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [33]:
NON_PC = NON_PC.append(PC_ONLY[FILTER_IBM_MAINT])

C:\Users\Pichau\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [34]:
PC_ONLY = PC_ONLY.dropna()

In [35]:
PC_ONLY.loc[FILTER_PRODUCT_SET,'Equipment type'] = 'MISCELLANEOUS FINANCING'

In [36]:
#  Update empty cells on [AC] TO MISCELLANEOUS FINANCING if XOT9 OEM

PC_ONLY.loc[(FILTER_XOT9_EMPTY) & (PC_ONLY['BILL TYPE'] == 'TBD'), 'Equipment type'] = 'MISCELLANEOUS FINANCING'

In [37]:
PC_ONLY.loc[(FILTER_PPT) & (PC_ONLY['BILL TYPE'] == 'TBD'),'BILL TYPE'] = 'TAXES'

In [38]:
PC_ONLY.loc[(FILTER_BUY) & (PC_ONLY['BILL TYPE'] == 'TBD'),'BILL TYPE'] = 'BUY'

In [39]:
PC_ONLY.loc[(FILTER_CONC) & (PC_ONLY['BILL TYPE'] == 'TBD'),'BILL TYPE'] = 'REGULAR RENT'
PC_ONLY.loc[(FILTER_CONT) & (PC_ONLY['BILL TYPE'] == 'TBD'),'BILL TYPE'] = 'REGULAR RENT'
PC_ONLY.loc[(FILTER_EPUR) & (PC_ONLY['BILL TYPE'] == 'TBD'),'BILL TYPE'] = 'REGULAR RENT'

In [40]:
PC_ONLY.loc[(FILTER_SS_ETRM) & (PC_ONLY['BILL TYPE'] == 'TBD'),'BILL TYPE'] = 'ETERM'

In [41]:
PC_ONLY.loc[(FILTER_REGULAR_PERIODIC) & (PC_ONLY['BILL TYPE'] == 'TBD'),'BILL TYPE'] = 'REGULAR RENT'

In [42]:
PC_ONLY.loc[(FILTER_NLOA_NLEASE) & (PC_ONLY['BILL TYPE'] == 'TBD'),'BILL TYPE'] = 'REGULAR RENT'

In [43]:
PC_ONLY[(FILTER_SS_ETRM)&(PC_ONLY['BILL TYPE'] == 'TBD')]

C:\Users\Pichau\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

Empty DataFrame
Columns: [Invoice number, Machine type, Equipment type, Sub-status, Payment type, Description, Invoice client reference 1, Invoice date, Total amount due, Invoice number 2, BILL TYPE, To be removed]
Index: []

CRINDO EXCEL XLSX FILE

In [44]:
#today = str(date.today())

In [45]:
file_name = 'PC_ONLY_Pivot.xlsx'

In [46]:
#PC_ONLY.to_csv(r'PC_ONLY_'+ today +'.csv')
PC_ONLY.to_excel(file_name,index = False)

In [47]:

PC_ONLY

,Invoice number,Machine type,Equipment type,Sub-status,Payment type,Description,Invoice client reference 1,Invoice date,Total amount due,Invoice number 2,BILL TYPE,To be removed
0,Q5886GH,ZLND,Desktops,ETRM-EARLYTERM,Early Termination/Early Termination of Lease o...,CORE I5 2.9GHZ 4TH GEN 4GB DESKTOP,na,2020-01-05,-17.77,Q5,ETERM,
1,Q5886GH,ZLND,Desktops,ETRM-EARLYTERM,Early Termination/Early Termination of Lease o...,CORE I5 2.9GHZ 4TH GEN 4GB DESKTOP,na,2020-01-05,-15.49,Q5,ETERM,
2,Q5886GH,ZLND,Desktops,ETRM-EARLYTERM,Early Termination/Early Termination of Lease o...,CORE I5 2.9GHZ 4TH GEN 4GB DESKTOP,na,2020-01-05,-13.41,Q5,ETERM,
3,Q5886GH,ZLND,Desktops,ETRM-EARLYTERM,Early Termination/Early Termination of Lease o...,CORE I5 2.9GHZ 4TH GEN 4GB DESKTOP,na,2020-01-05,-12.54,Q5,ETERM,
4,Q5886GH,DELD,Desktops,ETRM-EARLYTERM,Early Termination/Early Termination of Lease o...,CORE I5 3.3GHZ 4TH GEN 4GB DESKTOP 01,na,2020-01-05,-12.51,Q5,ETERM,
...,...,...,...,...,...,...,...,...,...,...,...,...
96739,QP6365U,DELN,Notebooks,NLSE-NEW LEASE,PPT Recovery: Full Year,"CORE I5 2.4GHZ 6TH GEN 8GB NOTEBOOK 15"" - 17""",na,2020-01-05,17.30,QP,TAXES,
96740,QP6365U,ZLNN,Notebooks,NLSE-NEW LEASE,PPT Recovery: Full Year,"CORE I5 2.4GHZ 6TH GEN 16GB NOTEBOOK 11"" - 14""",na,2020-01-05,17.31,QP,TAXES,
96741,QP6365U,DELN,Notebooks,NLSE-NEW LEASE,PPT Recovery: Full Year,"CORE I5 2.4GHZ 6TH GEN 8GB NOTEBOOK 11"" - 14""",na,2020-01-05,17.32,QP,TAXES,
96742,QP6375U,DELN,Notebooks,NLSE-NEW LEASE,PPT Recovery: Full Year,"CORE I5 2.4GHZ 6TH GEN 8GB NOTEBOOK 15"" - 17""",na,2020-01-05,17.69,QP,TAXES,
96743,QP6385U,DELD,Desktops,CONC-CONCLUDE,PPT Recovery: Full Year,CORE I5 3.3GHZ 4TH GEN 4GB DESKTOP 01,TR,2020-01-05,3.42,QP,TAXES,