In [2]:
#!conda install -c anaconda xlrd --yes

In [ ]:
import pandas as pd
from datetime import date

In [4]:
df = pd.read_csv(r'Octavio.Elliot@ibm.com_20200109_145314_53_inv1.csv')

In [5]:
PC_ONLY = df[['Invoice number','Machine type','Equipment type','Sub-status', 'Payment type','Description','Invoice client reference 1','Invoice date','Total amount due']]

In [6]:
INVOICE_LIST_REMOVED = ['Q6230GE']

In [7]:
rows = PC_ONLY['Invoice number'].count()

In [8]:
PC_ONLY['Invoice number 2'] = PC_ONLY['Invoice number']
PC_ONLY['BILL TYPE'] = 'TBD'
PC_ONLY['To be removed'] = ''

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [9]:
for i in range(rows):
    PC_ONLY.at[i,'Invoice number 2'] = PC_ONLY.at[i,'Invoice number 2'][:2]

In [10]:
PC_ONLY["Invoice client reference 1"]= PC_ONLY["Invoice client reference 1"].astype(str)

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [11]:
for i in range(rows):
    PC_ONLY.at[i,'Invoice client reference 1'] = PC_ONLY.at[i,'Invoice client reference 1'][:2]

In [12]:
# creating the filters taht will be used

FILTER_LPF = (PC_ONLY['Payment type']=='Late Payment Fee')
FILTER_DAMAGE = (PC_ONLY["Invoice number 2"] == "QC")
FILTER_RECYLCLYNG_FEE = (PC_ONLY['Payment type'] == 'STATE RECYCLING FEE (FOR BATCH JOBS)')
FILTER_CMOS = (PC_ONLY['Equipment type'] == 'Storage')
FILTER_STORAGE = (PC_ONLY['Equipment type']=='CMOS Processors')


FILTER_PRODUCT_SET = (PC_ONLY['Equipment type'] == 'PC Product Set')
FILTER_IBM_MAINT = (PC_ONLY['Description'] == 'IBM PREPAID MAINTENANCE')

FILTER_XOT9_EMPTY = (PC_ONLY['Machine type'] == "XOT9") # &  pd.isnull(df['Equipment type'])

FILTER_PPT = (PC_ONLY['Payment type'] == 'PPT Recovery: Full Year') # & (PC_ONLY['BILL TYPE'] == '')
FILTER_BUY = (PC_ONLY['Sub-status'] == 'BUY-BUYOUT') # & (PC_ONLY['BILL TYPE'] == '')

FILTER_CONC = (PC_ONLY['Sub-status'] == 'CONC-CONCLUDE') # & (PC_ONLY['BILL TYPE'] == '')
FILTER_CONT = (PC_ONLY['Sub-status'] == 'CONT-CONTINUATION') # & (PC_ONLY['BILL TYPE'] == '')



FILTER_EPUR = (PC_ONLY['Sub-status'] == 'EPUR-PURCHASE')  # & (PC_ONLY['BILL TYPE'] == '')

FILTER_SS_ETRM = (PC_ONLY['Sub-status'] =='ETRM-EARLYTERM') | (PC_ONLY['Payment type'] == 'Early Termination/Early Termination of Lease of Lease')


FILTER_REGULAR_PERIODIC = (PC_ONLY['Payment type'] == 'Regular Periodic Invoice-Payment in Advance') # & (PC_ONLY['BILL TYPE'] == '')

FILTER_NLOA_NLEASE = (PC_ONLY['Sub-status'] == 'NLOA-NEW LOAN') | (PC_ONLY['Sub-status'] == 'NLSE-NEW LEASE') # & (PC_ONLY['BILL TYPE'] == '')

FILTER_ONE_OFF = (PC_ONLY['Invoice client reference 1']=='OL') | (PC_ONLY['Invoice client reference 1']=='OI')

# Notacao para filtro duplo
DOUBLE FILTER = PC_ONLY[(PC_ONLY["Equipment type"] == "PC Product Set") & (PC_ONLY["Payment type"] == "PPT Recovery: Full Year")]
PC_ONLY[(FILTER_PRODUCT_SET) & (FILTER_PPT)]

PC_ONLY.loc[(FILTER_CONT) & (FILTER_BT_EMPTY),'BILL TYPE'] = "s"

In [13]:
LPF = PC_ONLY[FILTER_LPF]

In [14]:
PC_ONLY[PC_ONLY['Invoice number']=='Q6591GF']

,Invoice number,Machine type,Equipment type,Sub-status,Payment type,Description,Invoice client reference 1,Invoice date,Total amount due,Invoice number 2,BILL TYPE,To be removed
105000,Q6591GF,9OT9,MISCELLANEOUS FINANCING,NLOA-NEW LOAN,Regular Periodic Invoice-Payment in Arrears,Regular Periodic Invoice-Payment in Arrears,OL,43831,22.90,Q6,TBD,
105001,Q6591GF,9OT9,MISCELLANEOUS FINANCING,NLOA-NEW LOAN,Regular Periodic Invoice-Payment in Arrears,Regular Periodic Invoice-Payment in Arrears,OL,43831,22.90,Q6,TBD,
105002,Q6591GF,9MT3,PC Product Set,NLOA-NEW LOAN,Regular Periodic Invoice-Payment in Arrears,Regular Periodic Invoice-Payment in Arrears,OL,43831,1266.04,Q6,TBD,
105003,Q6591GF,9OT9,MISCELLANEOUS FINANCING,NLOA-NEW LOAN,Regular Periodic Invoice-Payment in Arrears,Regular Periodic Invoice-Payment in Arrears,OL,43831,22.90,Q6,TBD,
105004,Q6591GF,9OT9,MISCELLANEOUS FINANCING,NLOA-NEW LOAN,Regular Periodic Invoice-Payment in Arrears,Regular Periodic Invoice-Payment in Arrears,OL,43831,22.90,Q6,TBD,
...,...,...,...,...,...,...,...,...,...,...,...,...
105065,Q6591GF,3957,Storage,NLSE-NEW LEASE,Regular Periodic Invoice-Payment in Arrears,Regular Periodic Invoice-Payment in Arrears,OL,43831,9273.36,Q6,TBD,
105066,Q6591GF,3957,Storage,NLSE-NEW LEASE,Regular Periodic Invoice-Payment in Arrears,Regular Periodic Invoice-Payment in Arrears,OL,43831,3223.90,Q6,TBD,
105067,Q6591GF,3957,Storage,NLSE-NEW LEASE,Regular Periodic Invoice-Payment in Arrears,Regular Periodic Invoice-Payment in Arrears,OL,43831,3223.90,Q6,TBD,
105068,Q6591GF,3957,Storage,NLSE-NEW LEASE,Regular Periodic Invoice-Payment in Arrears,Regular Periodic Invoice-Payment in Arrears,OL,43831,3223.90,Q6,TBD,
105069,Q6591GF,3957,Storage,NLSE-NEW LEASE,Regular Periodic Invoice-Payment in Arrears,Regular Periodic Invoice-Payment in Arrears,OL,43831,3223.90,Q6,TBD,

In [15]:
NON_PC = PC_ONLY[FILTER_DAMAGE]

In [16]:
PC_ONLY.loc[FILTER_LPF, 'To be removed'] = 'NaN'

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [17]:
PC_ONLY.loc[FILTER_DAMAGE, 'To be removed'] = 'NaN'

In [18]:
PC_ONLY.loc[FILTER_ONE_OFF, 'To be removed'] = 'NaN'

In [19]:
PC_ONLY.loc[(FILTER_RECYLCLYNG_FEE) & (PC_ONLY['BILL TYPE'] == 'TBD'),'BILL TYPE']= 'Recycle'

In [20]:
PC_ONLY.loc[FILTER_CMOS,'To be removed'] = 'NaN'

In [21]:
PC_ONLY.loc[FILTER_STORAGE,'To be removed'] = 'NaN'

In [22]:
PC_ONLY.loc[FILTER_IBM_MAINT,'To be removed'] = 'NaN'

In [23]:
PC_ONLY = PC_ONLY[PC_ONLY['To be removed']!= 'NaN']

In [24]:
for invoice in INVOICE_LIST_REMOVED:
    NON_PC = NON_PC.append(PC_ONLY[PC_ONLY['Invoice number'] == invoice])
    PC_ONLY.loc[PC_ONLY['Invoice number'] == invoice,'To be removed'] = 'NaN'

In [25]:
INVOICE_LIST_REMOVED

['Q6230GE']

In [26]:
NON_PC = NON_PC.append(PC_ONLY[FILTER_ONE_OFF])

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [27]:
NON_PC = NON_PC.append(PC_ONLY[FILTER_CMOS])

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [28]:
NON_PC = NON_PC.append(PC_ONLY[FILTER_STORAGE])

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [29]:
NON_PC = NON_PC.append(PC_ONLY[FILTER_IBM_MAINT])

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [30]:
PC_ONLY = PC_ONLY.dropna()

In [31]:
PC_ONLY.loc[FILTER_PRODUCT_SET,'Equipment type'] = 'MISCELLANEOUS FINANCING'

In [32]:
#  Update empty cells on [AC] TO MISCELLANEOUS FINANCING if XOT9 OEM

PC_ONLY.loc[(FILTER_XOT9_EMPTY) & (PC_ONLY['BILL TYPE'] == 'TBD'), 'Equipment type'] = 'MISCELLANEOUS FINANCING'

In [33]:
PC_ONLY.loc[(FILTER_PPT) & (PC_ONLY['BILL TYPE'] == 'TBD'),'BILL TYPE'] = 'TAXES'

In [34]:
PC_ONLY.loc[(FILTER_BUY) & (PC_ONLY['BILL TYPE'] == 'TBD'),'BILL TYPE'] = 'BUY'

In [35]:
PC_ONLY.loc[(FILTER_CONC) & (PC_ONLY['BILL TYPE'] == 'TBD'),'BILL TYPE'] = 'REGULAR RENT'
PC_ONLY.loc[(FILTER_CONT) & (PC_ONLY['BILL TYPE'] == 'TBD'),'BILL TYPE'] = 'REGULAR RENT'
PC_ONLY.loc[(FILTER_EPUR) & (PC_ONLY['BILL TYPE'] == 'TBD'),'BILL TYPE'] = 'REGULAR RENT'

In [36]:
PC_ONLY.loc[(FILTER_SS_ETRM) & (PC_ONLY['BILL TYPE'] == 'TBD'),'BILL TYPE'] = 'ETERM'

In [37]:
PC_ONLY.loc[(FILTER_REGULAR_PERIODIC) & (PC_ONLY['BILL TYPE'] == 'TBD'),'BILL TYPE'] = 'REGULAR RENT'

In [38]:
PC_ONLY.loc[(FILTER_NLOA_NLEASE) & (PC_ONLY['BILL TYPE'] == 'TBD'),'BILL TYPE'] = 'REGULAR RENT'

In [39]:
PC_ONLY[(FILTER_SS_ETRM)&(PC_ONLY['BILL TYPE'] == 'TBD')]

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

Empty DataFrame
Columns: [Invoice number, Machine type, Equipment type, Sub-status, Payment type, Description, Invoice client reference 1, Invoice date, Total amount due, Invoice number 2, BILL TYPE, To be removed]
Index: []

In [40]:
PC_PIVOT = pd.pivot_table(PC_ONLY,index=['Invoice number','Invoice date'],values=['Total amount due'])

In [41]:
today = str(date.today())

In [42]:
PC_ONLY.to_csv(r'PC_ONLY_'+ today +'.csv')

In [43]:

PC_ONLY

,Invoice number,Machine type,Equipment type,Sub-status,Payment type,Description,Invoice client reference 1,Invoice date,Total amount due,Invoice number 2,BILL TYPE,To be removed
0,Q5394GF,DELN,Notebooks,ETRM-EARLYTERM,Early Termination/Early Termination of Lease o...,Early Termination/Early Termination of Lease o...,na,43831,-33.08,Q5,ETERM,
1,Q5394GF,DELN,Notebooks,ETRM-EARLYTERM,Early Termination/Early Termination of Lease o...,Early Termination/Early Termination of Lease o...,na,43831,-20.79,Q5,ETERM,
2,Q5394GF,DELN,Notebooks,ETRM-EARLYTERM,Early Termination/Early Termination of Lease o...,Early Termination/Early Termination of Lease o...,na,43831,-19.57,Q5,ETERM,
3,Q5394GF,DELN,Notebooks,ETRM-EARLYTERM,Early Termination/Early Termination of Lease o...,Early Termination/Early Termination of Lease o...,na,43831,-19.21,Q5,ETERM,
4,Q5394GF,DELN,Notebooks,ETRM-EARLYTERM,Early Termination/Early Termination of Lease o...,Early Termination/Early Termination of Lease o...,na,43831,-19.64,Q5,ETERM,
...,...,...,...,...,...,...,...,...,...,...,...,...
109264,QP6335A,DELN,Notebooks,CONC-CONCLUDE,PPT Recovery: Full Year,PPT Recovery: Full Year,TR,43831,4.12,QP,TAXES,
109265,QP6335A,DELN,Notebooks,EPUR-PURCHASE,PPT Recovery: Full Year,PPT Recovery: Full Year,TR,43831,3.74,QP,TAXES,
109266,QP6335A,DELN,Notebooks,EPUR-PURCHASE,PPT Recovery: Full Year,PPT Recovery: Full Year,TR,43831,4.70,QP,TAXES,
109267,QP6335A,ZLNN,Notebooks,EPUR-PURCHASE,PPT Recovery: Full Year,PPT Recovery: Full Year,TR,43831,2.36,QP,TAXES,
109268,QP6335A,ZLNN,Notebooks,CONC-CONCLUDE,PPT Recovery: Full Year,PPT Recovery: Full Year,DD,43831,3.49,QP,TAXES,